<mat-progress-bar *ngIf="tournaments.status === 'BUSY'" mode="indeterminate"></mat-progress-bar>
<ng-container *ngIf="tournaments.value as tournamentsValue">
  <mat-card *ngFor="let tournament of tournamentsValue">
    <mat-card-subtitle>{{ tournament.value.publicKey }}</mat-card-subtitle>
    <mat-card-title>{{ tournament.value.name }}</mat-card-title>
    <mat-card-content>
      <p class="file-date-data">Last modified: {{ tournament.value.dateModified | relativeToNow }}</p>
      <p class="file-date-data">Created: {{ tournament.value.dateCreated | relativeToNow }}</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button color="warn" (click)="remove(tournament.value)">Remove</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar *ngIf="tournament.status === 'BUSY'" mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</ng-container>
